__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env
.env.*
*.pid
.vscode/
.idea/
.DS_Store
Thumbs.db
*.swp
*.swo
*.key
*.pem
*.crt
node_modules/
grafana-storage/

node-1-pipeline/1-generator/logs-generated/
node-5-vlstorage-1/storage/
node-6-vlstorage-2/storage/
node-7-vlstorage-3/storage/
node-10-vlagent/vlagent-data/
storage/