logs/*
!logs/generated/
!logs/generated/**
data/*
!data/.gitkeep
**pycache**/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env
.env.*
docker-compose.override.yml
*.pid
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.key
*.pem
*.crt
grafana-storage/
node_modules/

node-1-pipeline/1-generator/logs-generated/
node-5-vlstorage-1/storage/
node-6-vlstorage-2/storage/
node-7-vlstorage-3/storage/
node-10-vlagent/vlagent-data/