logs/*
!logs/generated/
!logs/generated/**
data/*
!data/.gitkeep
**pycache**/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/
.env
.env.*
docker-compose.override.yml
*.pid
.vscode/
.idea/
*.swp
*.swo
.DS_Store
Thumbs.db
*.key
*.pem
*.crt
grafana-storage/
node_modules/

node-1-pipeline/1-generator/logs-generated/
node-3-vlstorage/storage/
node-3-vlstorage-hybrid/storage/
node-4-vlstorage/storage/
node-4-vlstorage-hybrid/storage/
node-5-vlselect/storage/
shared/
hot_storage/
warm_storage/
cold_storage/