# Python

**pycache**/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Logs

*.log
logs/

# Docker

.env
.env.*
docker-compose.override.yml
volumes/
data/

# Kafka / pipeline data

kafka-logs/
zookeeper/

# Grafana

grafana-storage/

# IDE

.vscode/
.idea/

# OS

.DS_Store
Thumbs.db

# Secrets

*.key
*.pem
*.crt

# Keep example env

!.env.example
